.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > textarea {
  resize: none;
  height: 10rem;
  max-height: 50vh;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.form > label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.form > button {
  margin: 1rem 0;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 3px;
}

.response, .form {
  width: 35rem;
  max-width: 90vw;
}

.response > h3 {
  margin: 1rem 0;
}

.response pre {
  text-wrap: wrap;
}
